<div class="container__big-card">
    <div class="big-card__image">
        <img
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5vGFU8ixjTgI56u9iTWw6BGlVje8rnj15_Nj4DML7Sg&s=10"
          alt=""
          height="200px"
          width="400px"
          >
    </div>


    <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nesciunt libero explicabo, itaque ex cumque magnam eveniet quae tempora fugit tenetur ab laborum dolorem illum sapiente non aliquam repellat.
             Consequuntur, maiores!
        </p>
    </div>
</div>