<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__image">
       <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:
        ANd9GcQYm0d5e3Za4uo0EmZ06TzkM04FPA-veAc8tjlmOcCdUA&s=10"
        alt=""
        >
    </div>


    <div class="small-card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    </div>

    <div class="container__small-card__separator">
        <hr>
    </div>

</div>